.App {
  text-align: center;
}

.navigation{
  display: inline-block;
  margin: 0 15px;
}

.listelStyles{
  color:white
}

input:focus, textarea {
    outline: none !important;
}

.filters{
  padding: 6px;
  border-radius: 20px;
  margin: 5px;
}

.linkColor{
  color:white
 }

 td {
  border: 1px solid #dddddd1a;
  padding: 20px;
  width: 33%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
